.app-bar__spacer {
  flex: 1 1 auto;
}

.app-bar__title {
  font: var(--mat-sys-title-medium);
}

.app-bar__user {
  margin-inline-end: 16px;
  color: var(--mat-sys-on-surface-variant);
  font: var(--mat-sys-body-medium);
}
